# pip install -r requirements.txt

numpy>=1.18.5
scipy
matplotlib
pandas
seaborn

opencv-python>=4.1.2
kafka-python

#ultralytics

omegaconf>=2.1.2
tqdm>=4.41.0
Shapely
easydict
pyyaml
gdown

# geodesic transformation
pyproj

# rabbitmq
pika

# yolov5
ipython
psutil

# PostgreSQL
psycopg2

# protobuf
protobuf

# matchine-learning
scikit-learn
matplotlib